/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {min-height: 100%;}
body {font: 400 normal 18px/1.2 'Roboto', sans-serif; color: #4c4c4c; height: auto; height: 100%; min-height: 100%; margin: 0; padding: 0; position: relative; -webkit-font-smoothing: antialiased;}

body * {outline: none !important;}
.workarea a {color: #e01f2f; text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
@media (min-width: 992px) {
    .workarea a:hover {text-decoration: underline; color: #e01f2f;}
}
.workarea a.dotted {text-decoration: none; border-bottom: 1px dotted #cfc0ba; color: #000}
@media (min-width: 992px) {
    .workarea a.dotted:hover {border-color: transparent; color: #000;}
}
.wrapper h1, .modal h1 {font-size: 40px;margin: 0 0 26px;font-weight: 100;line-height: 1.2;}
.wrapper h2, .modal h2 {font-size: 35px;margin: 0 0 24px;font-weight: 100;line-height: 1.3;}
.wrapper h3, .modal h3 {font-size: 30px;margin: 0 0 24px;font-weight: 100;}
.wrapper h4, .modal h4 {font-size: 24px;margin: 0 0 24px;font-weight: 100;line-height: 1.45;}
.wrapper h5, .modal h5 {font-size: 20px;margin: 0 0 17px;font-weight: 400;}
.wrapper h1 big, .wrapper h2 big, .wrapper h3 big, .wrapper h4 big,
.wrapper h1 small, .wrapper h2 small, .wrapper h3 small, .wrapper h4 small,
.wrapper h1 span, .wrapper h2 span, .wrapper h3 span, .wrapper h4 span {color: #e01f2f;}

.wrapper p, .modal p {line-height: 1.65;}
.col-red {color: #ce3131 !important;}
.wrapper input[type='text'] , .modal input[type='text'] {width: 100%; border: 0; background: none; font: 100 18px/1 'Roboto', sans-serif; height: 22px;}
.wrapper textarea, .modal textarea {width: 100%; background: none; font: 400 normal 18px/24px 'Roboto', sans-serif; border: 0; padding: 0;
    background: url(../img/themp/text-border.gif) 0 0 repeat;}
.wrapper cite {line-height: 1.7;position: relative;display: block;margin: 0 70px 17px 0;padding: 0 40px 0 43px;font-style: normal;}
.wrapper cite:before {content: ' ';position: absolute;top: 6px;left: 0;width: 19px;height: 19px;background: url(../img/themp/cite_left.png) 0 0 no-repeat;}
.wrapper cite:after {content: ' '; position: absolute; bottom: 5px; right: 0; width: 19px; height: 19px; background: url(../img/themp/cite_right.png) 0 0 no-repeat;}
.cite-author {margin: 0 0 48px 54px;}
.cite-author__photo {display: inline-block; vertical-align: top; width: 77px; height: 77px; overflow: hidden; margin: 0 20px 0 0; float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
.cite-author__name {font-size: 14px; display: table-cell; vertical-align: middle; height: 77px;}
.cite-author__name span {display: block; font-size: 24px; font-weight: 100;}
.workarea table {width: 100%; margin: 25px 0 13px; background: #fff; border-bottom: 1px solid #f0eaea;}
.workarea table thead th {text-align: left;color: #bcbcbc;padding: 0 0 14px 19px;font-weight: normal;border-bottom: 2px solid #e01f2f;}
.workarea table td {padding: 24px 0 26px 20px;vertical-align: top;text-align: left;}
.workarea table td:first-child, .workarea table th:first-child {padding-right: 15px;}
.corusel-pointer, .corusel {margin: 16px 0 16px;}
@media (min-width: 992px) {
    .workarea table tr:hover td {background: #eeeeee;}
}
.corusel .owl-dots {position: absolute; bottom: 25px; right: 15px; z-index: 15;}
.corusel .owl-dots .owl-dot {width: 14px; height: 14px; margin: 0 4px; display: inline-block;
    -webkit-box-shadow: inset 0 0 0 2px #b8b8b8;
    -moz-box-shadow: inset 0 0 0 2px #b8b8b8;
    box-shadow: inset 0 0 0 2px #b8b8b8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;}
.corusel .owl-dots .owl-dot:hover {width: 20px; height: 20px; margin: -3px 1px;}
.corusel .owl-dots .owl-dot.active {background: #fff; width: 14px !important; height: 14px !important; margin: 0 4px !important; cursor: default;
    -webkit-box-shadow: inset 0 0 0 0 #b8b8b8;
    -moz-box-shadow: inset 0 0 0 0 #b8b8b8;
    box-shadow: inset 0 0 0 0 #b8b8b8;
}
.corusel-pointer .owl-dots {display: none;}
.corusel-pointer .owl-prev {width: 47px; height: 47px; background: url(../img/themp/pointer.png) 0 0 no-repeat; left: 40px; top: 50%; margin-top: -24px; position: absolute; font-size: 0;}
.corusel-pointer .owl-next {width: 47px; height: 47px; background: url(../img/themp/pointer.png) 100% 0 no-repeat; right: 40px; top: 50%; margin-top: -24px; position: absolute; font-size: 0;}
.corusel-pointer .owl-prev:hover, .corusel-pointer .owl-next:hover {opacity: 0.7;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}

.fancybox-overlay .fancybox-close {width: 15px; height: 15px; background: url(../img/themp/modal-close.png) 0 0 no-repeat; position: fixed; top: 15px; right: 33px;}
body .fancybox-next span {background: url(../img/themp/pointer.png) 100% 0 no-repeat; width: 34px; height: 34px; background-size: 68px 34px;}
body .fancybox-prev span {background: url(../img/themp/pointer.png) 0 0 no-repeat; width: 34px; height: 34px; background-size: 68px 34px;}

.workarea ol {padding: 0 0 0 28px;margin: 0 0 43px;counter-reset: myCounter;}
.workarea ol li {margin: 0 0 20px;position: relative;list-style: none;}
.workarea ol li:before {position: absolute; left: -26px; color: #e01f2f;
    counter-increment: myCounter;
    content:counter(myCounter);}
.workarea ul {padding: 0 0 0 44px;margin: 0 0 43px;}
.workarea ul li {margin: 0 0 20px;position: relative;list-style: none;}
.workarea ul li:before {content: ' '; position: absolute; left: -26px; width: 5px; height: 5px; background: #e01f2f; margin: 5px 0 0;
     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 50%;}
.workarea p {margin: 0 0 32px;}
.workarea blockquote {display: block;padding: 31px 42px 11px;background: #e9e9e9;margin: 0 0 41px;}
.workarea textarea, .modal textarea {width: 100%; outline: none; padding: 12px 3px 10px 17px; border: 1px solid #abaeb1; margin: 0 0 20px; font: 100 normal 18px/1.5 'Roboto', sans-serif; vertical-align: top;}
.comment {font-size: 14px;margin: 16px 0 36px;}
.gallery {margin: 0 -10px 40px 0; font-size: 0;}
.gallery__item {display: inline-block; vertical-align: top; margin: 0 10px 10px 0;}
.gallery__item a {display: block; position: relative;}
.gallery__item a:hover:before {display: block; position: absolute; content: ' '; top: 0; left: 0; width: 100%; height: 100%;
    -webkit-box-shadow: inset 0 0 0 3px #e01f2f;
    -moz-box-shadow: inset 0 0 0 3px #e01f2f;
    box-shadow: inset 0 0 0 3px #e01f2f; }

body .pagination {text-align: center; height: 38px; position: relative; border-bottom: 1px solid #dcdcdc; display: block; color: #4c4c4c;}
body .pagination__item.prev {float: left; width: auto; height: auto; padding-left: 24px; background: url(../img/themp/pag-prev.png) left center no-repeat; margin-right: 0;}
body .pagination__item.next {float: right; width: auto; height: auto; border-radius: 0; margin-right: 0; padding-right: 24px; background: url(../img/themp/pag-next.png) right center no-repeat;}
body .pagination__item {display: inline-block; vertical-align: middle; padding: 0 5px; margin: 0 13px; height: 38px; text-align: center; color: #4c4c4c; position: relative;}
body a.pagination__item:hover:before {content: ' '; position: absolute; left: 0; width: 100%; top: 35px; border-top: 3px solid #dcdcdc;}
body a.pagination__item:hover {text-decoration: none; color: #4c4c4c;}
body .pagination__item.active:before {content: ' '; position: absolute; left: 0; width: 100%; top: 35px; border-top: 3px solid #e01f2f;}
body .pagination__item.prev:hover, body .pagination__item.next:hover {text-decoration: underline; color: #e01f2f;}
body .pagination__item.prev:before, body .pagination__item.next:before {display: none !important;}
.pagination__namber {display: inline-block;}
.file-down {display: inline-block; margin: 0 20px 8px 0; width: 24px; height: 32px; border: 1px solid #e01f2f; position: relative; text-decoration: none;}
.file-down span {position: absolute; background: #e01f2f; color: #fff; font-size: 10px; right: -5px; top: 13px; height: 11px; line-height: 11px; padding: 0 2px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.file-down:before {content: ' '; opacity: 0; position: absolute; top: 14px; left: 7px; width: 8px; height: 12px; background: url(../img/themp/down-ico.png) 0 0 no-repeat;}
.file-down:hover span {top: -1px;}
.file-down:hover:before {opacity: 1;}

.btn, .workarea input[type='submit'], .workarea input[type='submit']:focus, .modal input[type='submit'], .modal input[type='submit']:focus {display: inline-block; border: 0; vertical-align: top; min-width: 203px; padding: 0 20px; margin: 0 10px 10px 0; text-align: center; text-decoration: none !important; color: #fff !important; height: 45px; background: #e01f2f;
    font: 100 normal 18px/45px 'Roboto', sans-serif !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;}
.btn:hover, .workarea input[type='submit']:hover, .modal input[type='submit']:hover {background: #f63343;}
.btn:active, .workarea input[type='submit']:active, .modal input[type='submit']:active {background: #cc1726;}
.btn-white, .workarea input[type='submit'].btn-white, .workarea input[type='submit'].btn-white:focus,
.modal input[type='submit'].btn-white, .modal input[type='submit'].btn-white:focus {background: #fff; color: #e01f2f !important;
    -webkit-box-shadow: inset 0 0 0 2px #e01f2f;
    -moz-box-shadow: inset 0 0 0 2px #e01f2f;
    box-shadow: inset 0 0 0 2px #e01f2f;}
.btn-white:hover, .workarea input[type='submit'].btn-white:hover, .modal input[type='submit'].btn-white:hover {color: #fff  !important; background: #f63343;
    -webkit-box-shadow: inset 0 0 0 0 #e01f2f;
    -moz-box-shadow: inset 0 0 0 0 #e01f2f;
    box-shadow: inset 0 0 0 0 #e01f2f;}
.btn-white:active, .workarea input[type='submit'].btn-white:active, .modal input[type='submit'].btn-white:active {color: #fff !important; background: #cc1726;}
body .workarea input[disabled='disabled'], body .modal input[disabled='disabled'], body .btn-default {background: #c5c5c5 !important; color: #fff !important; cursor: default !important;}
body .workarea input.btn-white[disabled='disabled'], body .workarea input.btn-white[disabled='disabled']:hover, body .workarea .btn-white.btn-default, 
body .modal input.btn-white[disabled='disabled'], body .modal input.btn-white[disabled='disabled']:hover, body .modal .btn-white.btn-default {background: #fff !important; color: #b7b7b7 !important; cursor: default !important;
    -webkit-box-shadow: inset 0 0 0 2px #c5c5c5 !important;
    -moz-box-shadow: inset 0 0 0 2px #c5c5c5 !important;
    box-shadow: inset 0 0 0 2px #c5c5c5 !important;}
body .workarea label, body .modal label {font-weight: 400;}

.workarea input[type='checkbox'] {position: absolute; left: -10000px;}
.workarea input[type='checkbox'] + label {padding-left: 26px; position: relative; font-weight: normal; cursor: pointer; margin: 0 17px 5px 0;}
.workarea input[type='checkbox'] + label:before {position: absolute;left: 0;top: 3px;content: ' ';width: 13px;height: 13px;background: url(../img/themp/checkbox.png) 100% 0 no-repeat;}
.workarea input[type='checkbox']:checked + label:before {background-position: 0 0;}

.workarea input[type='radio'] {position: absolute; left: -10000px;}
.workarea input[type='radio'] + label {padding-left: 26px; position: relative; font-weight: normal; cursor: pointer; margin: 0 17px 5px 0;}
.workarea input[type='radio'] + label:before {position: absolute;left: 0;top: 4px;content: ' ';width: 13px;height: 13px;background: url(../img/themp/radio.png) 100% 0 no-repeat;}
.workarea input[type='radio']:checked + label:before {background-position: 0 0;}
.workarea input[type='checkbox']:hover + label, .workarea input[type='radio']:hover + label {opacity: 0.7;}

.color-red {color: #e01f2f;}

.input-box {position: relative;}
.error-txt {color: #ff0000; position: absolute; bottom: 90%; width: 100%; font-size: 14px; display: none;}




.layout {display: table; table-layout: fixed; height: 100%; width: 100%; transition: all 0.3s linear; overflow: hidden; z-index: 10;}
.wrapper {display: table-row;height: 100%;}


.head {background: #e01f2f; height: 85px; font-size: 14px;}
.logo {margin: 0 auto;width: 208px;padding: 30px 0 0 14px;}
.logo img {vertical-align: top;}
.working-hours {float: left;height: 85px;padding: 18px 0 0;vertical-align: middle;color: #fff;}
.working-hours span {display: inline-block;vertical-align: top;width: 68px;font-weight: 100;}
.working-hours p {margin: 0 0 2px !important; line-height: 1.2 !important;}
.head__info {float: right; text-align: right;}
.head__info-lange {float: right;background: #fff;color: #e01f2f;padding: 18px 2px 3px;text-decoration: none;}
.head__soc {float: right;padding: 17px 5px 0 0;margin: 0;}
.head__soc li {list-style: none;margin: 0 17px 0 0;float: left;}
.head__soc li a:hover {opacity: 0.7;}
.head__menu {clear: both; text-align: right; padding: 18px 0 0;}
.head__menu li {display: inline-block;vertical-align: top;margin: 0 0 0 7px;}
.head__menu li a {color: #fff; text-decoration: none;}
.head__menu li a:hover {text-decoration: underline;}
.burger {position: absolute; right: 20px; top: 30px; margin: 10px 0; width: 33px; height: 2px; background: #fff; display: none;}
.burger:before {position: absolute; top: -10px; content: ' '; width: 33px; border-top: 2px solid #fff;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.burger:after {position: absolute; bottom: -10px; content: ' '; width: 33px; border-top: 2px solid #fff;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.burger.active {background: none;}
.burger.active:before {transform: translateY(9px) rotate(45deg);}
.burger.active:after {transform: translateY(-11px) rotate(-45deg);}
.mob-menu {display: none; position: absolute; top: 78px; right: 0; z-index: 80; width: 310px; background: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.31) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.31) !important;}
.mob-menu__top {background: #e01f2f; height: 45px; padding-right: 20px;}
.mob-menu__top .head__menu {float: right; clear: inherit;}
.mob-menu .menu__lnk {text-align: right; padding: 20px 20px 0 20px; margin: 0;}
.mob-menu .menu__lnk li {display: block; padding: 0 0 20px; margin: 0;}
.mob-menu .menu__lnk li:after {display: none;}
.mob-menu .head-search {float: none; margin: 0 20px 25px 83px;}
.mob-menu .working-hours {color: #5e6265; font-size: 14px; text-align: right; float: none; width: auto; padding-right: 20px;}
.mob-menu .head__info-lange {margin-left: 30px;}

.menu {border-bottom: 1px solid #e01f2f;padding: 14px 0 12px; margin-bottom: 8px;}
.head-search {float: right;border: 1px solid #5e6265;width: 207px;height: 36px;padding: 5px 38px 0 12px;position: relative;margin: -4px 0 0;}
body .head-search input[type=text] {width: 100%; outline: none; padding: 0; font: 100 normal 14px/1 'Roboto', sans-serif; height: 24px; vertical-align: middle; border: 0;}
body .head-search input[type=submit], body .head-search input[type=submit]:hover, body .head-search input[type=submit]:focus {position: absolute; font-size: 0; display: block; top: 6px; right: 11px; padding: 0; width: 20px; height: 20px; background: url(../img/themp/btn-search.png) 0 0 no-repeat; border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;}
.menu__lnk {display: block; padding: 4px 0 0; margin: 0 213px 0 0;}
body .menu__lnk li {list-style: none;padding: 0 28px 0 0;margin: 0 27px 0 0;font-weight: 100;position: relative;display: inline-block;vertical-align: top;position: relative;}
.menu__lnk li:after {content: ' '; position: absolute; top: 0px; right: 0; height: 18px; border-right: 1px solid #e9eaea;}
body .menu__lnk > li:last-child:after {display: none;}
body .menu__lnk > li:last-child {margin: 0; padding: 0;}
.menu__lnk a {color: #2c3033; text-decoration: none;}
.menu__lnk a:hover {color: #e01f2f; text-decoration: none;}
.menu__lnk a.open-submenu {position: relative;}
.menu__lnk a.open-submenu:before {content: ' '; position: absolute; right: -14px; top: 9px; width: 7px; height: 4px; background: url(../img/themp/menu-pointer.png) 0 0 no-repeat;}
.menu__lnk li ul {position: absolute;top: 20px;left: 0;padding: 20px 0 0;width: 185px; display: none;}
.menu__lnk li:hover ul {display: block;}
.menu__lnk li:hover > a.open-submenu {color: #e01f2f;}
.menu__lnk li ul li {display: block;background: #eeeeee;font-weight: 400;padding: 10px 5px 11px 35px; margin: 0;}
.menu__lnk li ul li:first-child {padding-top: 26px;}
.menu__lnk li ul li:last-child {padding-bottom: 25px;}
.menu__lnk li ul li:before {position: absolute; content: ' '; margin-top: 3px; left: 22px; width: 3px; height: 3px; background: #e01f2f;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top: 8px; }
.menu__lnk li ul li:after {display: none;}

.footer-padding {clear: both;}
.footer {position: absolute; bottom: 0; left: 0; width: 100%;}
.footer__top {background: #e01f2f; color: #fff; min-height: 75px;}
.footer__logo {float: left; padding: 23px 0 0;}
.footer__soc {float: right;font-size: 14px;padding: 32px 0 0;}
.footer__soc span {display: inline-block; vertical-align: top;}
.footer__soc ul {display: inline-block;vertical-align: top;margin: -1px 0 0;padding: 0;}
.footer__soc ul li {margin: 0 0 0 13px;list-style: none;display: inline-block;vertical-align: top;}
.footer__soc ul li a:hover img {opacity: 0.7;}
.footer__menu {margin: 0 210px;text-align: center;padding: 28px 0 0 58px !important;}
.footer__menu li {display: inline-block;padding: 0 29px 0 29px;position: relative;font-size: 18px;font-weight: 100;}
.footer__menu li:before {content: ' '; position: absolute; top: 0; right: 0; width: 1px; height: 18px; background: #e33644;}
.footer__menu li a {color: #fff;}
.footer__menu li:last-child {padding-right: 0;}
.footer__menu li:last-child:before {display: none;}
.copyright {background: #282b2d;color: #5e6265;font-size: 14px;padding: 6px 0 7px;}
.develop {float: right; font-size: 14px; font-weight: 100; color: #5e6265;}
.develop a {color: #fff;}


.crubs {margin: 0 0 12px !important;padding: 0 !important;}
.crubs li {list-style: none;margin: 0 0px 0 0 !important;font-size: 14px;display: inline-block;vertical-align: top;}
.crubs li:before {display: none !important;}
.crubs li a {text-decoration: none; color: #2c3033;}
.panel .panel-title {text-align: left;margin-bottom: 1px;}
.panel .panel-title a {color: #4c4c4c; text-decoration: none !important; border-bottom: 1px dotted #e01f2f;}
.panel .panel-title a:hover {color: #e01f2f;}
.panel-group .panel-heading {border: 0; padding: 0 !important;}
.panel-group .panel-body {border: 0 !important;padding: 10px 0 15px 43px !important;line-height: 1.7;}
.panel {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) !important;}
.panel-group {margin: 0 0 40px;}

.modal .modal-dialog {width: 677px;}
.modal-form-ok .modal-dialog {width: 390px; text-align: center;}
.modal-form-ok .modal-dialog * {text-align: center !important;}
.modal .modal-content {border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.31) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.31) !important; }
.modal .close {position: absolute; top: 15px; right: 15px; font-size: 0; width: 15px; height: 15px; background: url(../img/themp/modal-close.png) 0 0 no-repeat; opacity: 1;}
.modal .close:hover {opacity: 0.7;}
.modal-content {padding: 36px 48px 32px;}
.modal h1, .modal h2, .modal h3, .modal h4, .modal h5 {text-align: left !important;}

.nav-tabs {padding: 0 !important; margin: 0 0 32px; border-bottom: 1px solid #e01f2f;}
.nav-tabs>li {margin: 0 !important;}
.nav-tabs>li>a {height: 46px; line-height: 46px; border: 0 !important; background: #eee; display: block; padding: 0 30px; border: 1px solid transparent;  font-weight: 100; color: #4c4c4c; font-size: 26px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;}
.nav-tabs>li:before {display: none;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {background: #e01f2f !important; border: 0 !important; color: #fff !important; cursor: default;}
.tab-content {margin: 0 0 40px;}

.modal-feedback .modal-dialog {width: 380px;}
.input-wrap {margin: 0 0 20px; border: 1px solid #abaeb1; height: 49px; padding: 12px 0 0 17px; position: relative;}
.input-wrap__header {font-size: 14px; display: none; position: absolute; left: 17px; right: 10px; top: 3px; overflow: hidden; white-space: nowrap;}
.input-wrap.active input[type=text] {margin-top: 7px;}
.input-wrap__erro {position: absolute; left: 0; right: 0; top: 100%; margin-top: 3px; color: #e01f2f; font-size: 14px;}
.input-wrap.inp-error {border-color: #e01f2f;}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
