/* ==========================================================================
   Adaptive style
   ========================================================================== */



@media (min-width: 1300px) {
    .container-fluid {width: 1262px;}
}

@media (min-width: 1200px) {
	.col-10 {margin: 0 0 0 -26%;}
	.col-12 {margin: 0 -26% 0 -26%;}
}

@media (min-width: 992px) {
    
    .menu {display: block !important;}
    .mob-menu {display: none !important;}
    
}





@media (max-width: 1250px) {
	body .menu__lnk li {padding: 0 10px 0 0; margin: 0 10px 0 0;}
	.menu__lnk a.open-submenu {margin: 0 19px 0 0; }
	.main-coruselbig__txt {left: 15px; right: 15px; margin: 0; width: auto; bottom: 10px;}
}

@media (max-width: 1100px) {
	body .menu__lnk li {font-size: 85%;}
	.nav-tabs>li>a {padding: 0 15px;}
	.footer__soc span {display: none;}
	.footer__menu {margin: 0 51px 0 193px; padding: 28px 0 0 0 !important;}
}

@media (max-width: 992px) {
	body .menu__lnk li {font-size: 100%;}
	.burger {display: block;}
	.menu {display: none;}
	.head__info {display: none;}
	.working-hours {display: none;}
	.logo {width: auto; margin: 0; text-align: left;}
	.mob-menu .working-hours {display: block;}
	.head {height: 77px; margin-bottom: 15px;}
	.footer__menu li {padding: 0 10px 0 10px;}
	.wrapper h1, .modal h1 {font-size: 32px;}
	.wrapper h2, .modal h2 {font-size: 28px;}
	.wrapper h3, .modal h3 {font-size: 24px;}
	.wrapper h4, .modal h4 {font-size: 20px;}
	.wrapper h5, .modal h5 {font-size: 18px;}
	.logo img {height: 28px;}
	.logo {padding-top: 30px; padding-left: 0;}
	.gallery__item a:before {display: none !important;}
	.page-btn__wrap {margin-top: -70px;}
	.catalog__item {width: 33.333%;}
	.news__date {float: none; text-align: left; width: auto; padding-bottom: 10px;}
	.news__wrap {margin: 0;}
	.catalog-menu {margin-right: 0 !important;}
	.main-section {margin-left: -15px; margin-right: -15px; top: 0; padding: 0 202px 0 0;}
	.main-page .head {margin-bottom: 0;}
	.main-menu {width: 202px;}
	.main-menu li a {width: 202px; padding: 0 5px 0 70px;}
	.main-menu li span {height: 80px;}
	.main-menu li {font-size: 24px;}
	.main-menu li img {position: absolute; top: 20px; left: 15px; width: 41px;}
	.main-corusel {height: 320px;}
	.main-corusel__item {height: 320px;}
	.main-corusel__txt {font-size: 35px; bottom: 53px; line-height: 1.2em;}
	.new-collections--footer {margin-left: -15px; margin-right: -15px;}
	.new-collections--footer h2 {padding-left: 15px;}
	.new-collections--footer .owl-dots {margin-right: 15px;}
	.main-coruselbig__list .owl-prev {left: 15px;}
	.main-coruselbig__list .owl-next {right: 15px;}

}

@media (max-width: 767px) {
	.wrapper cite {margin-right: 0; padding: 0 25px;}
	.cite-author {margin-left: 0;}
	.gallery__item {display: inline-block; padding: 0 15px 15px 0; width: 50%; margin: 0; vertical-align: middle;}
	.gallery__item img {width: 100%;}
	.gallery {margin-right: -15px; font-size: 0;}
	.workarea tr, .workarea td { display: block; }
	.workarea thead {display: none;}
	.workarea th {display: none;}
  	.workarea table td {text-align: right; position: relative; overflow: hidden; font-size: 14px; padding: 5px 0 !important;}
  	.workarea table tr {border-top: 1px solid #f0eaea; padding: 10px 0;}
  	.workarea table td:before { content: attr(data-label); float: left; padding-right: 15px; min-width: 45%; text-align: left; font-weight: bold; }
	body .pagination__item {margin: 0 2px;}
	body .pagination {height: auto; border: 0;}
	.pagination__namber {display: block; clear: both; padding: 20px 0 25px;}
	body .pagination__item.next {float: none;}
	body .pagination__item.prev {float: none;}
	body .pagination__namber .pagination__item {height: 22px;}
	body .pagination__item.active:before {top: 22px;}
	body a.pagination__item:hover:before {display: none;}
	.workarea ul {padding: 0 0 0 29px;}
	.panel-group .panel-body {padding-left: 15px !important;}
	.nav-tabs>li {display: block; float: none; }
	.nav-tabs>li a {text-align: center; font-size: 18px;}
	.footer__menu {margin: 0; clear: both; padding: 10px 0 0 !important; text-align: left;}
	.footer__menu li {display: block; margin: 0 0 20px !important; padding: 0 !important;}
	.route {width: 290px;}
	.route__item {padding: 14px 10px 0 15px;}
	.map {height: 790px;}
	.page-btn__wrap {margin-top: 0; float: none; text-align: center;}
	.page-btn .btn {display: block;} 
	.corusel-pointer .owl-prev {left: 15px; width: 24px; height: 24px; background-size: 48px 24px; margin-top: -12px;}
	.corusel-pointer .owl-next {right: 15px; width: 24px; height: 24px; background-size: 48px 24px; margin-top: -12px;}
	body {font-size: 14px;}
	.wrapper h1, .modal h1 {margin-bottom: 20px; font-size: 28px;}
	.wrapper h2, .modal h2 {margin-bottom: 18px; font-size: 26px;}
	.wrapper h3, .modal h3 {margin-bottom: 18px; font-size: 20px;}
	.wrapper h4, .modal h4 {margin-bottom: 18px; font-size: 16px;}
	.wrapper h5, .modal h5 {margin-bottom: 10px; font-size: 12px;}
	.workarea p {margin: 0 0 16px;}
	.box-contact__item img {margin: -1px 4px 0 0;}
	.workarea .btn {font-size: 14px !important;}
	.catalog__item {width: 50%;}
	.catalog__item a {font-size: 14px;}
	.filter__list {margin-top: 0; float: none; margin-bottom: 5px;}
	.filter__list a, .filter__list span {margin: 0 10px 10px 0;}
	.news__img {float: none; margin: 0 0 15px;}
	.magazin-info {position: relative; left: auto; top: auto; width: 100%;}
	.page-btn {margin-bottom: 10px;}
	.catalog-menu {float: none;}
	.catalog--min .catalog__item {width: 50%;}
	.catalog--min {right: auto;}
	.catalog-menu {width: 100%;}
	.main-section {padding: 0;}
	.main-menu {position: relative; width: 100%;}
	.new-collections .owl-dots {position: relative; right: 0; text-align: center; top: 10px;}
	.main-coruselbig__list .owl-prev {width: 32px; height: 32px; background: url(../img/themp/pointer.png) 0 0 no-repeat; left: 15px; top: 50%; margin-top: -16px; position: absolute; font-size: 0; background-size: 64px 32px;}
	.main-coruselbig__list .owl-next {width: 32px; height: 32px; background: url(../img/themp/pointer.png) 100% 0 no-repeat; right: 15px; top: 50%; margin-top: -16px; position: absolute; font-size: 0; background-size: 64px 32px;}
 	.main-coruselbig__txt {bottom: 0;}
 	.main-coruselbig__txt h2 {margin-bottom: 2px;}

}

@media (max-width: 450px) {
	.catalog__item {width: 100%;}
	.catalog--min .catalog__item {width: 100%;}
}